@import './common.css';

/*背景颜色*/
.bg-main{
	background: #ff2d52;
}
.bg-gray{
	background: #F1f1f1;
}
.bg-grays{
	background: #f7f7f7;
}
.bg-main-red{
	background: #ec193e;
}
.bg-white{
	background: white;
}
/* 标题 */
.product_title, u{
	font-size: 45px;
	text-transform: uppercase;
}
.margin-4-top{
	margin-top: 4px;
}
/*文字居中*/
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

/*字体大小*/
.font-12{
	font-size: 12px;
}
.font-14{
	font-size: 14px;
}
.font-16{
	font-size: 16px;
}
.font-18{
	font-size: 18px;
}
.font-20{
	font-size: 20px;
}
.font-22{
	font-size: 22px;
}
.font-24{
	font-size: 24px;
}
.font-30{
	font-size: 30px;
}
.font-36{
	font-size: 36px;
}

/*字体加粗*/
.text-bolder{
	font-weight: bolder;
}

/*字体颜色*/
.text-main{
	color: #E93854;
}
.text-white{
	color: #ffffff;
}
.text-Gradual{
	color: #ec193e;
}
.text-gray{
	color: #969696;
}
.text-graylight{
	color: #999;
}
.text-blackdark{
	color: #aaa;
}
.text-black{
	color: #000;
}
.text-grays{
	color: #666666;
}
.text-blue{
	color: #32b8cc;
}
.text-hei{
	color: #999;
}
.text-ligh{
	color: #b6b5b5;
}
/*行高 22 24 26 48*/

.line-22{
	line-height: 22px;
}
.line-24{
	line-height: 24px;
}
.line-36{
	line-height: 36px;
}
.line-48{
	line-height: 48px;
}

/*浮动*/

.fl{
	float: left;
}
.fr{
	float: right;
}

.marging-top{
	margin-top: -165px;
}

/*清除浮动  伪元素不占位 */
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

/*外边距 5 15 20 25 30*/

.margin{
	margin: auto auto;
}


.margin-5{
	margin: 5px;
}
.margin-5-l{
	margin: auto 5px;
}
.margin-5-left{
	margin-left: 5px;
}
.margin-5-right{
	margin-right: 5px;
}
.margin-5-top{
	margin-top: 5px;
}
.margin-5-button{
	margin-bottom: 5px;
}
/*10*/
.margin-10{
	margin: 10px;
}
.margin-10-left{
	margin-left: 10px;
}
.margin-10-right{
	margin-right: 10px;
}
.margin-10-top{
	margin-top: 10px;
}
.margin-10-button{
	margin-bottom: 10px;
}
.margin-10-l{
	margin: 10px auto;
}

/*15*/
.margin-15{
	margin: 15px;
}
.margin-15-left{
	margin-left: 15px;
}
.margin-15-right{
	margin-right: 15px;
}
.margin-15-top{
	margin-top: 15px;
}
.margin-15-button{
	margin-bottom: 15px;
}
.margin-15-l{
	margin: auto 15px ;
}
/*20*/
.margin-20{
	margin: 20px;
}
.margin-20-left{
	margin-left: 20px;
}
.margin-20-right{
	margin-right: 20px;
}
.margin-20-top{
	margin-top: 20px;
}
.margin-20-button{
	margin-bottom: 20px;
}
.margin-20-l{
	margin: auto 20px ;
}

/*25*/
.margin-25{
	margin: 25px;
}
.margin-25-left{
	margin-left: 25px;
}
.margin-25-right{
	margin-right: 25px;
}
.margin-25-top{
	margin-top: 25px;
}
.margin-25-button{
	margin-bottom: 25px;
}
.margin-25-you{
	margin: auto 25px ;
}
/*30*/
.margin-30{
	margin: 30px;
}
.margin-30-left{
	margin-left: 30px;
}
.margin-30-right{
	margin-right: 30px;
}
.margin-30-top{
	margin-top: 30px;
}
.margin-30-button{
	margin-bottom: 30px;
}
.margin-30-you{
	margin:  auto 30px;
}

/*内边距*/

/*5px*/
.padding-5{
	padding: 5px;
}
.padding-5-left{
	padding-left: 5px;
}
.padding-5-right{
	padding-right: 5px;
}
.padding-5-top{
	padding-top: 5px;
}
.padding-5-button{
	padding-bottom: 5px;
}

/*5px*/
.padding-25{
	padding: 25px;
}
.padding-25-left{
	padding-left: 25px;
}
.padding-25-right{
	padding-right: 25px;
}
.padding-25-top{
	padding-top: 25px;
}
.padding-25-button{
	padding-bottom: 25px;
}

/*5px*/
.padding-30{
	padding: 30px;
}
.padding-30-left{
	padding-left: 30px;
}
.padding-30-right{
	padding-right: 30px;
}
.padding-30-top{
	padding-top: 30px;
}
.padding-30-button{
	padding-bottom: 30px;
}

/*10px*/
.padding-10{
	padding: 10px;
}
.padding-10-left{
	padding-left: 10px;
}
.padding-10-right{
	padding-right: 10px;
}
.padding-10-top{
	padding-top: 10px;
}
.padding-10-button{
	padding-bottom: 10px;
}

/*15px*/
.padding-15{
	padding: 15px;
}
.padding-15-left{
	padding-left: 15px;
}
.padding-15-right{
	padding-right: 15px;
}
.padding-15-top{
	padding-top: 15px;
}
.padding-15-button{
	padding-bottom: 15px;
}

/*20px*/
.padding-20{
	padding: 20px;
}
.padding-20-left{
	padding-left:20px;
}
.padding-20-right{
	padding-right: 20px;
}
.padding-20-top{
	padding-top: 20px;
}
.padding-20-button{
	padding-bottom:20px;
}

/*超出隐藏*/
.overflow-1{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-inline-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.overflow1{
	width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.btn{
	width: 130px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	color: #fff;
	margin: 0 auto;
	font-size: 15px;
	font-weight: bold;
	background: #ec3255;
	border-radius: initial;
}

.overflow3{
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}